<nav class="navbar navbar-dark" style="text-align:left">
  <h1 class="navTitle">Real VIN Generator</h1>
</nav>
<div class="content">
  <div class="generation">
    <ul class="nav nav-tabs nav-fill">
      <li class="nav-item">
        <a class="nav-link active" href="javascript:void(0);" *ngIf="DBGenEnabled" id="DBGenTab">Database Generation</a>
        <a class="nav-link" href="javascript:void(0);" *ngIf="!DBGenEnabled" (click)="DBGenEnabled = true" id="DBGenTab">Database Generation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="javascript:void(0);" *ngIf="!DBGenEnabled" id="ManualTab">Manual Generation</a>
        <a class="nav-link" href="javascript:void(0);" *ngIf="DBGenEnabled" (click)="DBGenEnabled = false" id="ManualTab">Manual Generation</a>
      </li>
    </ul>
    <div *ngIf="DBGenEnabled" class=DBGen>
      <div class="makeRow">
        <p class="makeLabel">Make:</p>
        <select class="browser-default custom-select makeSelect" (ngModelChange)="GetModels($event)" [(ngModel)]="selectedMake" >
          <option value="unspecified">Unspecified</option>
          <option *ngFor="let smake of possibleMakes" value="{{smake}}">{{smake}}</option>
        </select>
      </div>
      <div class="modelRow">
        <p class="modelLabel">Model:</p>
        <select class="browser-default custom-select modelSelect" (ngModelChange)="GetYears($event)" [(ngModel)]="selectedModel" >
            <option value="unspecified">Unspecified</option>
            <option *ngFor="let smodel of possibleModels" value="{{smodel}}">{{smodel}}</option>
        </select>
      </div>
      <div class="yearRow">
        <p class="yearLabel">Year:</p>
        <select class="browser-default custom-select yearSelect" [(ngModel)]="selectedYear">
            <option value="-1">Unspecified</option>
            <option *ngFor="let syear of possibleYears" value="{{syear}}">{{syear}}</option>
        </select>
      </div>
      <div class="buttonsRow">
        <button class="btn btn-primary"  (click)="RandomVIN()">Generate Random VIN</button>
        <button class="btn btn-primary" (click)="ExistingVIN()">Generate Existing VIN</button>
        <button class="btn btn-primary" (click)="ClearInput()">Clear Selections</button>
      </div>
    </div>
    <div *ngIf="!DBGenEnabled" class=manualGen>
        <p class="manualLabel">Barcode Value: </p>
        <input class="form-control" [(ngModel)]="manualEntry" placeholder="Enter VIN">
        <div class="buttonsRow">
            <button class="btn btn-primary"  (click)="VerifyVIN()">Verify</button>
            <button class="btn btn-primary" (click)="ManualVIN()">Generate</button>
        </div>
    </div>
  </div>
  <div class="results">
    <ul class="nav nav-tabs nav-fill">
        <li class="nav-item">
          <a class="nav-link active" href="javascript:void(0);" *ngIf="qrEnabled" id="QRTab">QR Code</a>
          <a class="nav-link" href="javascript:void(0);" *ngIf="!qrEnabled" (click)="qrEnabled = true" id="QRTab">QR Code</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="javascript:void(0);" *ngIf="!qrEnabled" id="BarTab">Barcode</a>
          <a class="nav-link" href="javascript:void(0);" *ngIf="qrEnabled" (click)="qrEnabled = false" id="BarTab">Barcode</a>
        </li>
      </ul>
      <div class="resultContent">
        <ngx-qrcode *ngIf="qrEnabled" class="qrcode" [qrc-element-type]="qrElementType" [qrc-value] = "VIN" qrc-errorCorrectionLevel = "H"></ngx-qrcode>
        <ngx-barcode *ngIf="!qrEnabled" class="barcode" [bc-margin]="0" [bc-element-type]="barcodeElementType" [bc-width]="1.5" [bc-format]="barcodeFormat" [bc-value]="VIN" [bc-display-value]="false"  ></ngx-barcode>
        <p class="VIN">{{VIN}}</p>
        <p class="YMM">{{Year}} {{Make}} {{Model}}</p>
      </div>
  </div>
</div>


<router-outlet></router-outlet>
